{% extends '_page.twig' %}
{% block title %}libphonenumber-for-php Demo{% endblock %}
{% block content %}
    <h1>libphonenumber-for-php Demo</h1>
    <form method="get" action="">
        <div class="form-group row">
            <label for="phonenumber" class="col-3 col-form-label">Phone Number</label>

            <div class="col-9">
                <input type="tel" class="form-control" id="phonenumber" name='phonenumber' required="required"
                       placeholder="0161 496 0000">
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-3 col-form-label">Default Country</label>

            <div class="col-9">
                <input type="text" class="form-control col-1" id="country" name='country'
                       placeholder="GB" aria-describedby="countryHelpBlock" style="min-width: 50px;">
                <p id="countryHelpBlock" class="form-text text-muted">
                    An <a href='http://www.iso.org/iso/country_names_and_code_elements'>ISO
                        3166-1</a> two letter country code.
                    <br/>
                    If the number is passed in an international format (e.g. <code>+44 117 496 0123</code>),
                    then the region code is not needed, and can be null. Failing that, the library will use
                    the region code to work out the phone number based on rules loaded for that region.</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="language" class="col-3 col-form-label">Locale for Geocoding</label>

            <div class="col-9">
                <div class="row form-inline">
                    <div class="col-3">
                        <input type="text" class="form-control" id="language" name='language' placeholder="en"
                               aria-describedby="languageHelpBlock">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="region" name='region' placeholder="GB">
                    </div>
                </div>
                <p id="languageHelpBlock" class="form-text text-muted">An <a
                            href='http://en.wikipedia.org/wiki/IETF_language_tag'>IETF language
                        tag</a> (defaults to en)</p>
            </div>

        </div>
        <div class="form-group row">
            <div class="offset-3 col-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
